@import url("/src/css/default.css");

.app-top-bar{
  background:lightseagreen;
  border-bottom:1px solid rgba(255,255,255,.4);
  color:#fff;
  box-shadow: rgba(0,0,0,0.3) 0 3px 5px;
}
.app-logo{
  justify-content: right;
  align-items: center;
  align-content: center;
}
.app-name{
  font-size:15px;
}
.app-buttons{
  font-size: 28px;
}
.app-logo .profile-picture{
  font-size:30px;
  width:1em;
  height:1em;
  border-radius: 50px;
  border:1px solid rgba(255,255,255,.6);
  position: relative;
  margin-top:-8px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.app-logo .profile-picture:before{
  content:url(/src/icons/chevron-left.svg);
  font-weight: bold;
  font-family:monospace;
  color:rgba(255,255,255,.6);
  font-size:20px;
  position: absolute;
  top:3px;
  left:-20px;
}
.container{
  display:grid;
  grid-template-rows:auto 70px;
  color:#fff;
  /* background:#333; */
}
.container-message *{
  box-sizing: border-box;
}
.msg{
  display:inline-block;
  padding:12px;
  max-width:200px;
}
.container-message{
  overflow:auto;
}
.container-message div{
  padding:15px 30px;
}
.container-message div.right{
  display:grid;
  justify-content: right;
}
.container-message div span.right{
  position:relative;
  border-radius:5px 0px 5px 5px;
  background:lightseagreen;
  color:#fff;
}
.container-message div span.left{
  position:relative;
  border-radius:0px 5px 5px 5px;
  background: #f1f1f1;
  color:#000;
}
.container-message div span.left:before{
  content:"";
  border-right:3px solid #f1f1f1;
  border-top:3px solid #f1f1f1;
  border-bottom:3px solid transparent;
  border-left:3px solid transparent;
  width: 0;
  height: 0;
  position: absolute;
  top:0;
  left:-6px;
}
.container-message span.right:before{
  content:"";
  border-right:3px solid transparent;
  border-top:3px solid lightseagreen;
  border-bottom:3px solid transparent;
  border-left:3px solid lightseagreen;
  width: 0;
  height: 0;
  position: absolute;
  top:0;
  right:-6px;
}
.container-text-bar{
  display:grid;
  box-sizing: border-box;
  grid-template-columns: auto 45px;
  grid-gap:8px;
  padding:8px;
}
.container-text-bar .text-bar{
  background:#fff;
  height: 45px;
  border-radius:50px;
  box-shadow: rgba(0,0,0,0.2) 2px 3px 5px, rgba(0,0,0,0.2) -0.5px -1px 2px;
  line-height:45px;
  padding: 0 15px;
  color:#444;
  overflow: hidden;
}
#escrita{
  white-space: nowrap;
  animation: typing 1s steps(120, end);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.container-text-bar .send-button{
  background:lightseagreen;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:25px;
  color:#fff;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 5px, rgba(167, 219, 216,0.3) -0.5px -1px 2px;
}
.container-choices{
  display:grid;
  grid-template-columns: auto auto;
  color:#000;
  position: absolute;
  bottom:8px;
  margin:8px;
  border-radius: 15px;
  background:#fff;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 5px, rgba(167, 219, 216,0.3) -0.5px -1px 2px;
  width: calc(100% - 46px);
}
.container-choices div.choices{
  display:grid;
  align-content: center;
  align-items: center;
}
.container-choices div.choices:first-child{
  border-right: 1px solid #ccc;
  padding-right:15px;
}
.container-choices div.choices:last-child{
  padding-left:15px;
}