body,html,head{
  overflow:hidden;
  padding:0;
  margin:0;
  background-image:url("https://app.sollic.com/src/imagens/wallpaper.png");
  background-size:100%;
  background-repeat:no-repeat;
}
.prealfa div{
  text-align: center;
  background: rgba(255,255,255,0.1);
  padding: 5px;
}
.telafull{
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
}
.tc-loading {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:
  #222;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.reveal {
  position: relative;
  display: flex;
  white-space: pre;
  color: #6ee1f5;
  letter-spacing: 3px;
  font-size: 2em;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
}
.reveal span {
  transform: scale(0);
  opacity: 0;
  animation: fadeIn 2.4s forwards;
}
.reveal::before, .reveal::after {
  position: absolute;
  content: "";
  background: white;
  width: 2px;
  height: 100%;
  top: 0;
  bottom: 0;
  transform: scale(0);
  opacity: 0;
}
.reveal::before {
  left: 50%;
  animation: slideLeft 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}
.reveal::after {
  right: 50%;
  animation: slideRight 1.5s cubic-bezier(0.7, -0.6, 0.3, 1.5) forwards;
}
@keyframes fadeIn {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideLeft {
  to {
    left: -6%;
    transform: scale(0.9);
    opacity: 1;
  }
}
@keyframes slideRight {
  to {
    right: -6%;
    transform: scale(0.9);
    opacity: 1;
  }
}
.preto{
  background:#1c1c1c;
}
.grade{
  display:grid;
  grid-template-columns:25% 25% 25% 25%;
  text-align:center;
  grid-row-gap:50px;
  padding-top:50px;
  animation:gradeUP 1s;
  width:100%;
}
@keyframes gradeUP{
  0% {
    position:absolute;
    top:2000px;
  }
  100% {
    position:absolute;
    top:0px;
  }
}
@-moz-keyframes gradeUP{
  0% {
    position:absolute;
    top:2000px;
  }
  100% {
    position:absolute;
    top:0px;
  }
}
@-webkit-keyframes gradeUP{
  0% {
    position:absolute;
    top:2000px;
  }
  100% {
    position:absolute;
    top:0px;
  }
}
.apps{
  font-weight:600;
  width:70px;
  height:70px;
  border:0;
  padding:0;
  margin:0;
  color:#fff;
  border-radius:6px;
}
.mensagens{
  background:orange;
  position:relative;
  font-size:50px;
}
.switter{
  position:relative;
  background:purple;
  font-size:50px;
}
.noticias{
  position:relative;
  background:green;
  font-size:45px;
}
.ling{
  background:blue;
}
.mensagens:after, .switter:after, .noticias:after{
  position:absolute;
  width:70px;
  top:75px;
  left:0;
  text-align:center;
  font-size:12px;
}
.mensagens:after{
  content:"Mensagens";
}
.switter:after{
  content:"Switter";
}
.noticias:after{
  content:"Noticias";
}
#exp{
  display:none;
  position:absolute;
  background:#fff;
  width:70px;
  height:70px;
  animation:cres .3s forwards;
  z-index:101;
  justify-content: center;
  align-items: center;
  color:#000;
  font-size:35vh;
  overflow:hidden;
  border-radius:50px;
}
@keyframe cres{
  0% {
    background:#fff;
  }
  100% {
    top:0;
    left:0;
    border-radius:0;
    width:100%;
    height:100%;
  }
}
@-moz-keyframes cres{
  0% {
    background:#fff;
  }
  100% {
    top:0;
    left:0;
    border-radius:0;
    width:100%;
    height:100%;
  }
}
@-webkit-keyframes cres{
  0% {
    background:#fff;
    opacity:0.3;
  }
  100% {
    top:0;
    left:0;
    border-radius:0;
    width:100%;
    height:100%;
    opacity:1;
  }
}
